streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
pypdf
chromadb
pandas
python-docx
python-dotenv
pillow
pytesseract
sentence-transformers
docx2txt
